.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 3px;
}

.container div {
	padding: 10px;
	margin: 5px;
	font-size: 18px;
	text-align: left;
}
div {
	border: 2px dodgerblue;
}